body {
    background-color: #161819;
}

.table {
    position: absolute;
    width: 600px;
    height: 600px;
    top: 100px;
    left: 50%;
    margin-left: -300px;
    padding: 20px;
    border-radius: 15px;
    background-color: #3c6f36;
}

.result-message {
    padding-top: 20px;
    text-align: center;
    color: #ffcd84;
    font-size: 30px;
}

.cells {
    display: table;
    margin: 0;
    padding: 0;
}

.cell {
    display: inline-block;
    width: 38px;
    height: 38px;
    border: 1px solid #161819;
    padding: 0;
    margin: 0;
    text-align: center;
    vertical-align: top;
    color: #ffcd84;
    font-family: monospace;
    font-size: 40px;
    line-height: 32px;
}

.copy {
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: #c4c4c4;
}
