<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>3T Player 1 vs NN</title>

    <link rel="stylesheet" href="assets/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
</head>
<body>

<div id="game">
    <button class="restart" v-on:click="restart">Restart</button>

    <input type="text" v-model="replay.rawMoves" v-on:keyup.enter="playGame" placeholder="h8 j9 ..." />
    <button class="next-move" v-on:click="toFirstMove"> << </button>
    <button class="last-move" v-on:click="previousMove"> < </button>
	<button class="next-move" v-on:click="nextMove"> > </button>
	<button class="last-move" v-on:click="toLastMove"> >> </button>

    <div class="result-message">{{resultMessage}}</div>

	<div class="table">
        <div class="cells">
            <span class="cell"
				  v-for="(cell, index) in table.cells"
				  v-on:click="makeTurn(index)">{{ cell.value }}</span>
        </div>
	</div>
</div>

<div class="copy">Powered by cheshir ©</div>

<script src="assets/script.js"></script>

</body>
</html>